<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LOL4YOU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0027FF11E9D91BD003175A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00280051E9D91BD003175A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A00280101E9D91BE003175A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
